
<app-banner [bgImageUrl]='bannerImageUrl'>
    <div fxLayout='column' fxLayoutAlign='center center' class="div div__contentContainer">
         <h1 class='mat-display-2'>ಇಸ್ಸನಿ</h1>
         <div class='searchBox__container'>
             <input class="search__input" type="text" placeholder="Search">
             <button class='searchBtn'><img class="searchIcon" src=".\assets\icons\search.svg" alt=""></button>
         </div>
         <p>Explore all thousands of fonts</p>
    </div>
</app-banner>

<app-slider [sliderData]="latestArticles" (loadMore)="loadMoreLatestArticles()"></app-slider>




