
.div__header{
    position:fixed;
    top:0;
    width: 100%;
    background-color:white;
    z-index: 100;
    user-select: none;
    height:60px;
    padding:6px;
    // Give it a little bit shadow
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
    & .btn__login{
        margin-left:auto;
    }
}
.btn{
    height:32px;
    margin: 0 6px;
}
.secondary_color{
    color:rgb(56, 60, 65);
     
}
.primary_color{
    background-color:rgb(125, 42, 232);
    color:white;  
}
.primary_font{
    font-weight :600;
    font: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    // letter-spacing:1px;
    line-height:32px;
}
.h2__logotext{
    border:solid 2px #7d2ae8;
    border-radius: 40px;
    // line-height: 100px;
    background-color: white;           
    color: #7d2ae8;
    padding:0 6px;
    letter-spacing: 1;
    margin:0 10px 0 0;
}
.navbar-collapse{
    all:unset; 
    margin:10px;
}
.navbar-collapse a{
    width:unset;
    color:rgb(14, 19, 24);
    &:active{  
        background-color:rgb(230, 230, 230);
    }
}
.btn__menuicon{
    margin: 0 10 0 10;
    border:0;
    background-color: 0;
    font-size:16px;
}
.menuIcon{
    user-select: none;
    background-color:white;
}
.sideMenu{
    min-height:calc(100%);
    position: fixed;
    background-color:white;
    right:0;
    width: 240px;
    z-index: 100;
}
.bgDark{
    position:fixed;
    left:0;
    width: calc(100%);
    height: calc(100%);
    background-color:rgba(47, 47, 47, 0.281);
    z-index: 50;
}
.btn__closeIcon{
    all:unset;
    user-select: none;
    cursor: pointer;
    position:absolute;
    left:0;
    top:0; 
}
div.menu{
    visibility: hidden;
    opacity: 0;
    
}
div.showMenu{
    visibility:visible;
    opacity: 1;
    transition: all 1s;  
}
.horizontalRow{
    margin:0;
    width:200px;
    height: 1px;
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(125,42,232,1) 35%, rgba(0,212,255,1) 100%);
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
div.sideMenu > div > div.navbar-collapse{
    user-select: none;
    margin-left:70px;
    font-weight: 600;
    // /margin-right:auto;
}