html,body{
    height:100%;
}
.div__header{
    position:fixed;
    top:0;
    width: 100%;
    // background-color:white;
    // background-color: rgb(255 255 255 / 54%); 
    background-color:rgba(175,153,129 , 91%);
    backdrop-filter: blur(15px);
    z-index: 100;
    user-select: none;
    height:60px;
    padding:6px;
    // Give it a little bit shadow
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.19);
    & .btn__login{
        margin-left:auto;
    }
}
.btn{

    height:32px;
    margin: 0 6px;
    
}
.secondary_color{
    color:rgb(56, 60, 65);
     
}
.primary_color{
    background-color:rgb(125, 42, 232);
    color:white;  
}
.primary_font{
    font-weight :600;
    font: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    // letter-spacing:1px;
    line-height:32px;
}
.h2__logotext{
    border:solid 2px #7d2ae8;
    border-radius: 40px;
    // line-height: 100px;
    background-color: transparent;           
    color: #7d2ae8;
    padding:0 16px;
    letter-spacing: 1;
    margin:0 20px 0 0;
}
.navbar-collapse{
    all:unset; 
    margin:10px;
}
.navbar-collapse a{
    width:unset;
    color:rgb(14, 19, 24);
    &:active{  
        background-color:rgb(230, 230, 230);
    }
}
.btn__menuicon{
    margin: 0 10 0 10;
    border:0;
    width: 30px;
    height: 30px;
    background-color:white;
    border-radius:3px;
    font-size:16px;
}
.menuIcon{
    user-select: none;
    background-color:transparent;
}
.sideMenu{
    // height:100%;
    padding-top: 20px;
    // overflow-y: scroll;
    min-height:calc(100%);
    position: fixed;
    background-color:white;
    right:0;
    width: 240px;
    z-index: 101;
}
.bgDark{
    position:fixed;
    left:0;
    width: calc(100%);
    height: calc(100%);
    background-color:rgba(47, 47, 47, 0.281);
    z-index: 50;
}
.btn__closeIcon{
    all:unset;
    user-select: none;
    cursor: pointer;
    position:absolute;
    left:0;
    top:0; 
}
div.menu{
    visibility: hidden;
    opacity: 0;
    
}
div.showMenu{
    visibility:visible;
    opacity: 1;
    transition: visibility 1s;  
}
.horizontalRow{
    margin:0;
    width:200px;
    height: 1px;
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(125,42,232,1) 35%, rgba(0,212,255,1) 100%);
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
div.sideMenu > div > div.navbar-collapse{
    user-select: none;
    margin-left:70px;
    font-weight: 600;
    // /margin-right:auto;
}
 .div__header > a{

    color:red; 

}


/////////@at-root

//variables
$background-purple: #EEEEEE;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$blue: #F03861;

$open-sans: 'Open Sans', sans-serif;


*{
    margin:0;
    padding:0;
  }
// .sideMenu{
//     & > div{
//         height:100%;
//         overflow-y: scroll;
//     }
// }
.drowndown{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    width:100%;
    padding:0;
    margin:0;
    align-items: center;
    align-content: center;
    list-style: none;
    &.open {
        background-color:rgb(240, 240, 240);
    }
    li{
        // width:100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        // padding: 0 0 20px 0;
        
    }
    ul{
        color: #333;
        width: 200px;
        background-color:#f9f5ff;
        text-align: left;  
        list-style: none;
        display: none;
        padding:0;
        padding-left: 40px; 
        
        div.liContainer{
            &:hover {
                transition: all .6s;
                background-color:rgb(240, 214, 255);
            }
        }
       li{
           padding:10px 0;
       }
        // max-height: 100px;
        // overflow-y: scroll;
    }
    .icon{
        cursor: pointer;
        position:relative;
        display: flex;
        // justify-content: center;
        align-items: center;
        width:160px;
        
        margin: 10px 0;
        padding-right:20px;
        span{
            letter-spacing:2px;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        i{
            position: absolute;
            right: 0;
            float: right;
            transform: rotate(0deg);
            transition: all .5s;     
        }
        
    }
    &.open ul,&.open:hover ul{
        display:block;
    }
    &.open .icon i,&.open:hover .icon i{
        transform: rotate(-180deg);
    }

}
.dropdown1{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    width:100%;
    padding:0;
    margin:0;
    align-items: center;
    align-content: center;
    list-style: none;
    &.open {
        // background-color:rgb(240, 240, 240);
    }
    li{
        // width:100%;
        // position: absolute;
        // top:70px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        // padding: 0 0 20px 0;
        
    }
    ul{
        box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
        // box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75) inset;
        border-radius:8px;
        position: absolute;
        top:40px;
        left:-2px;
        color: #333;
        width: 200px;
        // height:200px;
        background-color:white;
        text-align: left;  
        list-style: none;
        display: none;
        padding:0;
        transition: display 10s;
        div.liContainer{
            &:hover {
                transition: all .6s;
                background-color:rgb(240, 214, 255);
            }
        }
       li{
           padding:10px 0;
           padding-left: 40px;
       }
        // max-height: 100px;
        // overflow-y: scroll;
    }
    .icon{
        cursor: pointer;
        position:relative;
        display: flex;
        // justify-content: center;
        align-items: center;
        // width:160px;
        
        margin: 10px 0;
        padding-right:20px;
        span{
            letter-spacing:2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        i{
            // position: absolute;
            // right: 0;
            // float: right;
            padding: 0 10px;
            transform: rotate(0deg);
            transition: all .5s;     
        }
        
    }
    &.open ul,&:hover ul,& ul:hover{
        display:block;
        
    }
    &.open .icon i,&:hover .icon i,& .icon:hover i{
        transform: rotate(-180deg);
    }
}

@-moz-document url-prefix() {
    body div.div.div__header{
        background-color: rgba(255, 255, 255, 0.883);
    }
}
// .h2__logotext1{
//     background-color:rgba(255, 182, 182, 0.856);
//     line-height:40px;
//     border-radius: 4px;
//     transform:translateY(6px);
//     background: radial-gradient(circle at center, #da6bff , #423939);
//     margin-right:  20px;
// }

.issani__menu{
    display:flex;
    flex-direction: row;


    .issani__menu--items{
        margin-left: 20px;
        color:white;
    }
    .issani__menu--items:hover{
        color:chartreuse;
    }
}
.issani__sidemenu{
    display:flex;
    flex-direction: column;
    .issani__sidemenu--items:nth-child(1){
        margin-top: 40px;
    }
    .issani__sidemenu--items{
        margin: 10px;
        cursor: pointer;
    }
    .issani__sidemenu--items:hover{
        color:rgba(175, 153, 129, 0.91);
    }
}