.img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.label {
    width: 240px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
}

.slider-card {
    width: calc((100vw / 5) - 10px);
}

.slider-container {
    display: flex;
    height: 240px;
    width: 100vw;
    justify-content: center;
}

.slider-container.error {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    font-size: 20px;
    font-weight: 800;
    background-color: #ccc;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
        height: 20px;
    }
}

@media(max-width: 600px) {
    .img {
        width: calc((100vw - 20px) / 2);
        height: auto;
        margin: 16px;
    }

    .slider-card {
        width: calc(100vw / 2);
    }

    .slider-container {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    }

    .nav-btn {
        display: none;
    }

}
img.loading{
    // animation: bgColorAnimaion 1s infinite cubic-bezier(.17,.67,.83,.67);
    background-image: url("/assets/icons/img_holder.svg");
  }
  @keyframes bgColorAnimaion{
    from{
      background-color:white;
    }
    50%{
      background-color:black;
    }
    to{
      background-color:white;
    }
  }

// .slide_remove {
//     position: absolute;
//     left: -100px;
//     width: 100px;
//     height: 100px;
//     background: blue;
//     transition: 1s;
// }
