<div [ngStyle.lt-sm]="{'padding': '0'}"  fxFlex='100' class='div div__bannerContainer mat-typography'  fxLayoutAlign="initial center" >
    <div [ngStyle.lt-sm]="{'border-radius':'0px'}"  fxFlex='100' class='div div__banner ' [style.background-image]="'url(https://static.canva.com/marketplace/banners/Temp-MP-Banner_OCT19_Logo-Green_V1-%40x2.jpg)'">
       <div  fxLayout = 'column' fxLayoutAlign="center center" class="div div__transparent">
            <h1 class='mat-display-2'>ಇಸ್ಸನಿ</h1>
            <div class='searchBox__container'>
                <input  class="search__input" type="text" placeholder="Search">
                <button   class='searchBtn'><img class="searchIcon" src=".\assets\icons\search.svg" alt=""></button>
            </div>
            <p>Explore all thousands of fonts</p>
       </div>
       <div class="div__mag1">

       </div>
       <div class="div__mag2">
           
      </div>
    </div>
</div>




