<app-banner [bgImageUrl]="bannerImageUrl">
  <div fxLayout="column" class="div div__contentContainer">
    <h1 class="mat-display-2">Graceful Guardians</h1>
    <p>
      Embark on a captivating journey into the world of nature's swans, revered for their elegance and grace. Delve into the serene beauty of these
      majestic birds as they glide effortlessly across tranquil waters. Discover their remarkable characteristics, from their enchanting plumage to
      their melodious calls echoing through serene landscapes.
    </p>
  </div>
</app-banner>
<div class="div div__cardContainer">
  <div class="div div__card" *ngFor="let imageLoader of imageLoaderData">
    <app-imageloader [imageLoader]="imageLoader"></app-imageloader>
  </div>
</div>
<p>{{ text }}</p>
